
body {
  background-color: #a0a1a3;
}

.search {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.routes-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

.routes-table th,
.routes-table td {
  text-align: left;
}

.routes-table td {
  padding: .25rem;
  border: none;
}

.routes-table tr:nth-of-type(2n) td {
  background-color: #eee;
}

.footer {
  min-height: 10vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.btn-search { 
  cursor: pointer;  
}

.btn-data {
  background-color: #282c3400;
  color: white;
  font-size: 12px;
  padding: 4px 25px;
  border-radius: 5px;
  border-width: 0.1px;
  margin: 10px 0px;
  cursor: pointer;  
}

.data {
  text-align: center;  
  color: white;
  margin: 100px;
  font-size: calc(10px + 2vmin);
}

.not-found {
  text-align: center;  
}

.loading {
  text-align: center;  
  color: white;
  margin: 100px;
  font-size: calc(10px + 1vmin);
}